# Python

**pycache**/
*.py[cod]
*$py.class

# Virtual Environment

venv/
env/
ENV/
.venv/

# Jupyter Notebook

.ipynb_checkpoints/

# Environment Variables

.env

# Operating System Files

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/

# Python Build Files

build/
dist/
*.egg-info/

# Logs

*.log

# Temporary Files

*.tmp
*.temp

# Model Cache

.cache/

# Large Local Data Files

data/raw/*.csv
data/raw/*.xlsx
